return {
	"nvim-telescope/telescope-fzf-native.nvim",
  {{- if eq .chezmoi.arch "arm64" }}
    build = "arch --arm64 make",
  {{- else }}
    build = "make",
  {{- end }}
	dependencies = { "nvim-telescope/telescope.nvim" },
	event = "VeryLazy",
	config = function()
		require("telescope").load_extension("fzf")
	end,
}
