if status is-interactive
    # Commands to run in interactive sessions can go here
end

# remove shell greeting
set -g fish_greeting

# fzf alias
alias fzf="fzf -m --query \"'\""
alias f="fzf -m --query \"'\""

# ls replacement
abbr --add ls "exa -l -h"

# git
abbr --add g "git"

# chezmoi
abbr --add c "chezmoi"

# I like to use zoxide like this more than just the vanilla z
function a
  set query $argv[1]
  if test -n "$query"
    set selected_dir (zoxide query -l | grep -i "$query" | fzf)
  else
    set selected_dir (zoxide query -l | fzf)
  end
  cd $selected_dir
end

function A
  set query $argv[1]
  if test -n "$query"
    set selected_dir (zoxide query -l | grep -i "$query" | fzf)
  else
    set selected_dir (zoxide query -l | fzf)
  end
  if test -n "$selected_dir"
    zoxide remove $selected_dir
    echo "Removed $selected_dir from zoxide history."
  else
    echo "No directory selected."
  end
end

# start ssh-agent and fuzzy find key
function ssh-add-fzf
    eval (ssh-agent -c)
    set key_file (find ~/.ssh -type f -name "id_*" -not -name "*.pub" | fzf)
    if test -n "$key_file"
        ssh-add $key_file
    else
        echo "No key selected."
    end
end

{{- if eq .chezmoi.arch "arm64" }}
  # if I don't set this treesitter parser are not installed as
  # arm64
  alias nvim="arch -arm64 nvim"
{{- end }}

set -g fish_key_bindings fish_vi_key_bindings

# path settings
fish_add_path "$HOME/.src/builds/bin"
# .local/bin is for pipx, pipx is used to install poetry
fish_add_path "$HOME/.local/bin"
fish_add_path "$HOME/miniconda3/condabin"
fish_add_path "/opt/homebrew/bin" "/opt/homebrew/sbin"  "$HOME/.docker/bin"

# initializations
zoxide init fish | source
starship init fish | source

## >>> conda initialize >>>
## !! Contents within this block are managed by 'conda init' !!
#if test -f $HOME/miniconda3/bin/conda
#    eval $HOME/miniconda3/bin/conda "shell.fish" "hook" $argv | source
#end
## <<< conda initialize <<<

{{- if eq .chezmoi.arch "arm64" }}
# Not sure why this is having different paths, probably is going
# to be fixed in a future fresh install
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
if test -f {{.chezmoi.homeDir}}/opt/miniconda3/bin/conda
    eval {{.chezmoi.homeDir}}/opt/miniconda3/bin/conda "shell.fish" "hook" $argv | source
else
    if test -f "{{.chezmoi.homeDir}}/opt/miniconda3/etc/fish/conf.d/conda.fish"
        . "{{.chezmoi.homeDir}}/opt/miniconda3/etc/fish/conf.d/conda.fish"
    else
        set -x PATH "{{.chezmoi.homeDir}}/opt/miniconda3/bin" $PATH
    end
end
# <<< conda initialize <<<
{{- else }}
# WSL
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
if test -f {{.chezmoi.homeDir}}/miniconda3/bin/conda
    eval {{.chezmoi.homeDir}}/miniconda3/bin/conda "shell.fish" "hook" $argv | source
else
    if test -f "{{.chezmoi.homeDir}}/miniconda3/etc/fish/conf.d/conda.fish"
        . "{{.chezmoi.homeDir}}/miniconda3/etc/fish/conf.d/conda.fish"
    else
        set -x PATH "{{.chezmoi.homeDir}}/miniconda3/bin" $PATH
    end
end
# <<< conda initialize <<<
{{- end }}
