# used by fzf
set -gx FZF_DEFAULT_OPTS '--color=bg:#fbf1c7,bg+:#ebdbb2,spinner:#458588,hl:#076678,fg:#3c3836,header:#3c3836,fg+:#3c3836,bg+:#d5c4a1,hl+:#076678'

# used by fd which is giving the output to fzf.fish
set -gx LS_COLORS 'di=1;36:ln=1;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=01;05;37;41:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=31;01:*.gz=31;01:*.bz2=31;01:*.rpm=31;01:*.deb=31;01:*.jpg=35;01:*.png=35;01:*.gif=35;01:'

set -gx EDITOR nvim



{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# WSL-specific
set -gx DOCKER_HOST 'tcp://localhost:2375'
set -gx REQUESTS_CA_BUNDLE '/etc/ssl/certs/ca-certificates.crt'
fish_add_path '/home/linuxbrew/.linuxbrew/bin'
{{   end }}
{{ end }}
