[user]
  name = Luis Duque
{{- if eq .chezmoi.os "darwin" }}
  email = luisfpetrucci@gmail.com
{{- end }}
[core]
  editor = vim
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[pull]
  rebase = true
[push]
  autoSetupRemote = true
[init]
  defaultBranch = main
[alias]
  cb = checkout -b
