[user]
  name = Luis Duque
  email = {{ .email | quote }}
[core]
  editor = vim
[merge]
  conflictstyle = zdiff3
  tool = kdiff3
[diff]
  colorMoved = default
  tool = kdiff3
[pull]
  rebase = false
[push]
  autoSetupRemote = true
[init]
  defaultBranch = main
[alias]
  cb = checkout -b
  po = pull origin
  st = status
[http]
  sslVerify = true
  {{- if .ca_certificate }}
  # remember to use \\ on windows
  sslcainfo = {{ .ca_certificate }}
  {{- end }}
[rerere]
	enabled = true
