return {
  "akinsho/toggleterm.nvim",
  event = "VeryLazy",
  version = "*",
  opts = {
      direction = "float",
      hide_numbers = true,
      shell = {{ .fish_path | quote }}
    },
  keys = {
    { "<C-t>", "<CMD>ToggleTerm<CR>", mode = { "n", "v", "t", "i" }, desc = "toggleterm" },
  },
}
