return {
  "akinsho/toggleterm.nvim",
  event = "VeryLazy",
  version = "*",
  opts = {
      open_mapping = [[<c-t>]],
      direction = "float",
      hide_numbers = true,
      shell = {{ .fish_path | quote }}
    },
}
