return {
  "zbirenbaum/copilot.lua",
  cmd = {"Copilot"},
	cond = {{ .ai_support }},
  event = "InsertEnter",
  config = function()
    require("copilot").setup({
      suggestion = { enabled = false },
      panel = { enabled = false },
      filetypes = { markdown = true },
    })
  end,
  keys = {
    {
    "<leader>cb",
    function()
      local input = vim.fn.input("Question: ")
      if input ~= "" then
        require("CopilotChat").ask(input, { selection = require("CopilotChat.select").buffer })
      end
    end,
    desc = "buffer_as_context",
  }
  }
}
