return {
  "zbirenbaum/copilot.lua",
  cmd = {"Copilot"},
	cond = {{ .ai_support }},
  event = "InsertEnter",
  config = function()
    require("copilot").setup({
      suggestion = { enabled = false },
      panel = { enabled = false },
      filetypes = { markdown = true },
    })
  end,
}
